*{
    margin: 0px;
    padding: 0px;
}


.banner img{
    height: 558px;
    object-fit: cover;
}


@media (min-width: 1926px) {
    .cards {
        max-width: 600px; 
    }
    .cards .text-large {
        font-size: 1.5vw;
    }
    .cards .text-medium {
        font-size: 1vw;
    }
    .cards .text-small {
        font-size: 0.8vw;
    }
    .cards .padded {
        padding: 1vw;
    }
}