*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.left-0 {
  left: 0px;
}

.left-40 {
  left: 10rem;
}

.top-\[-55px\] {
  top: -55px;
}

.top-\[0px\] {
  top: 0px;
}

.top-\[1087px\] {
  top: 1087px;
}

.top-\[130px\] {
  top: 130px;
}

.top-\[1750px\] {
  top: 1750px;
}

.top-\[2050px\] {
  top: 2050px;
}

.top-\[2270px\] {
  top: 2270px;
}

.top-\[2500px\] {
  top: 2500px;
}

.top-\[2750px\] {
  top: 2750px;
}

.top-\[3070px\] {
  top: 3070px;
}

.top-\[3800px\] {
  top: 3800px;
}

.top-\[400px\] {
  top: 400px;
}

.top-\[4900px\] {
  top: 4900px;
}

.top-\[5300px\] {
  top: 5300px;
}

.top-\[5550px\] {
  top: 5550px;
}

.top-\[700px\] {
  top: 700px;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.m-2 {
  margin: 0.5rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-12 {
  margin-left: 3rem;
}

.ml-16 {
  margin-left: 4rem;
}

.ml-20 {
  margin-left: 5rem;
}

.ml-32 {
  margin-left: 8rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.ml-8 {
  margin-left: 2rem;
}

.ml-9 {
  margin-left: 2.25rem;
}

.ml-\[-100px\] {
  margin-left: -100px;
}

.ml-\[-140px\] {
  margin-left: -140px;
}

.ml-\[-15px\] {
  margin-left: -15px;
}

.ml-\[-200px\] {
  margin-left: -200px;
}

.ml-\[-20px\] {
  margin-left: -20px;
}

.ml-\[-250px\] {
  margin-left: -250px;
}

.ml-\[-35px\] {
  margin-left: -35px;
}

.ml-\[-400px\] {
  margin-left: -400px;
}

.ml-\[-40px\] {
  margin-left: -40px;
}

.ml-\[-500px\] {
  margin-left: -500px;
}

.ml-\[-7px\] {
  margin-left: -7px;
}

.ml-\[-90px\] {
  margin-left: -90px;
}

.ml-\[370px\] {
  margin-left: 370px;
}

.mr-24 {
  margin-right: 6rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-24 {
  margin-top: 6rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-\[-100px\] {
  margin-top: -100px;
}

.mt-\[-150px\] {
  margin-top: -150px;
}

.mt-\[-15px\] {
  margin-top: -15px;
}

.mt-\[-25px\] {
  margin-top: -25px;
}

.mt-\[-45px\] {
  margin-top: -45px;
}

.mt-\[-50px\] {
  margin-top: -50px;
}

.mt-\[-70px\] {
  margin-top: -70px;
}

.mt-\[15px\] {
  margin-top: 15px;
}

.mt-\[330px\] {
  margin-top: 330px;
}

.mt-\[600px\] {
  margin-top: 600px;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-64 {
  height: 16rem;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[1020\.05px\] {
  height: 1020.05px;
}

.h-\[117\.61px\] {
  height: 117.61px;
}

.h-\[118\.48px\] {
  height: 118.48px;
}

.h-\[120px\] {
  height: 120px;
}

.h-\[134\.78px\] {
  height: 134.78px;
}

.h-\[135\.32px\] {
  height: 135.32px;
}

.h-\[145px\] {
  height: 145px;
}

.h-\[149\.32px\] {
  height: 149.32px;
}

.h-\[159\.34px\] {
  height: 159.34px;
}

.h-\[15px\] {
  height: 15px;
}

.h-\[160\.44px\] {
  height: 160.44px;
}

.h-\[17px\] {
  height: 17px;
}

.h-\[2\.38px\] {
  height: 2.38px;
}

.h-\[217\.97px\] {
  height: 217.97px;
}

.h-\[221\.8px\] {
  height: 221.8px;
}

.h-\[247\.71px\] {
  height: 247.71px;
}

.h-\[289\.76px\] {
  height: 289.76px;
}

.h-\[307px\] {
  height: 307px;
}

.h-\[346px\] {
  height: 346px;
}

.h-\[383\.78px\] {
  height: 383.78px;
}

.h-\[400\.75px\] {
  height: 400.75px;
}

.h-\[420px\] {
  height: 420px;
}

.h-\[44\.87px\] {
  height: 44.87px;
}

.h-\[45\.12px\] {
  height: 45.12px;
}

.h-\[46\.73px\] {
  height: 46.73px;
}

.h-\[46\.91px\] {
  height: 46.91px;
}

.h-\[46px\] {
  height: 46px;
}

.h-\[520\.78px\] {
  height: 520.78px;
}

.h-\[545\.7px\] {
  height: 545.7px;
}

.h-\[557px\] {
  height: 557px;
}

.h-\[560px\] {
  height: 560px;
}

.h-\[61px\] {
  height: 61px;
}

.h-\[63\.42px\] {
  height: 63.42px;
}

.h-\[790px\] {
  height: 790px;
}

.h-\[79px\] {
  height: 79px;
}

.h-\[802px\] {
  height: 802px;
}

.h-\[80px\] {
  height: 80px;
}

.h-\[91\.94px\] {
  height: 91.94px;
}

.h-\[96px\] {
  height: 96px;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.w-1\/12 {
  width: 8.333333%;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-5\/6 {
  width: 83.333333%;
}

.w-\[102px\] {
  width: 102px;
}

.w-\[111\.07px\] {
  width: 111.07px;
}

.w-\[117\.61px\] {
  width: 117.61px;
}

.w-\[130px\] {
  width: 130px;
}

.w-\[137\.51px\] {
  width: 137.51px;
}

.w-\[158px\] {
  width: 158px;
}

.w-\[160px\] {
  width: 160px;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[236\.24px\] {
  width: 236.24px;
}

.w-\[243px\] {
  width: 243px;
}

.w-\[250\.55px\] {
  width: 250.55px;
}

.w-\[300px\] {
  width: 300px;
}

.w-\[322\.61px\] {
  width: 322.61px;
}

.w-\[350px\] {
  width: 350px;
}

.w-\[397\.24px\] {
  width: 397.24px;
}

.w-\[397px\] {
  width: 397px;
}

.w-\[400\.65px\] {
  width: 400.65px;
}

.w-\[407px\] {
  width: 407px;
}

.w-\[415\.73px\] {
  width: 415.73px;
}

.w-\[440px\] {
  width: 440px;
}

.w-\[454\.12px\] {
  width: 454.12px;
}

.w-\[46\.73px\] {
  width: 46.73px;
}

.w-\[47\%\] {
  width: 47%;
}

.w-\[496px\] {
  width: 496px;
}

.w-\[60\%\] {
  width: 60%;
}

.w-\[631px\] {
  width: 631px;
}

.w-\[65\.94px\] {
  width: 65.94px;
}

.w-\[686\.19px\] {
  width: 686.19px;
}

.w-\[750\.33px\] {
  width: 750.33px;
}

.w-\[802px\] {
  width: 802px;
}

.w-\[80vw\] {
  width: 80vw;
}

.w-\[90\%\] {
  width: 90%;
}

.w-\[90px\] {
  width: 90px;
}

.w-\[967\.33px\] {
  width: 967.33px;
}

.w-\[980px\] {
  width: 980px;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.min-w-\[300px\] {
  min-width: 300px;
}

.max-w-\[700px\] {
  max-width: 700px;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-11 {
  gap: 2.75rem;
}

.gap-12 {
  gap: 3rem;
}

.gap-20 {
  gap: 5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-\[40px\] {
  gap: 40px;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-\[145px\] {
  border-radius: 145px;
}

.rounded-\[1px\] {
  border-radius: 1px;
}

.rounded-\[60px\] {
  border-radius: 60px;
}

.rounded-\[79\.3px\] {
  border-radius: 79.3px;
}

.border-2 {
  border-width: 2px;
}

.border-\[\#DCB33E\] {
  --tw-border-opacity: 1;
  border-color: rgb(220 179 62 / var(--tw-border-opacity));
}

.border-\[\#E1724C\] {
  --tw-border-opacity: 1;
  border-color: rgb(225 114 76 / var(--tw-border-opacity));
}

.bg-\[\#000000\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-\[\#3D352F\] {
  --tw-bg-opacity: 1;
  background-color: rgb(61 53 47 / var(--tw-bg-opacity));
}

.bg-\[\#BEDACE\] {
  --tw-bg-opacity: 1;
  background-color: rgb(190 218 206 / var(--tw-bg-opacity));
}

.bg-\[\#BFBFBF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(191 191 191 / var(--tw-bg-opacity));
}

.bg-\[\#DCB33E\] {
  --tw-bg-opacity: 1;
  background-color: rgb(220 179 62 / var(--tw-bg-opacity));
}

.bg-\[\#E1724C\] {
  --tw-bg-opacity: 1;
  background-color: rgb(225 114 76 / var(--tw-bg-opacity));
}

.bg-\[\#F0F0F0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(240 240 240 / var(--tw-bg-opacity));
}

.bg-\[\#FFDAD0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 218 208 / var(--tw-bg-opacity));
}

.bg-\[\#FFFFFF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-5 {
  padding: 1.25rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.pl-32 {
  padding-left: 8rem;
}

.pl-\[7px\] {
  padding-left: 7px;
}

.pt-20 {
  padding-top: 5rem;
}

.pt-24 {
  padding-top: 6rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-44 {
  padding-top: 11rem;
}

.text-center {
  text-align: center;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[2\.5vw\] {
  font-size: 2.5vw;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[3\.5vw\] {
  font-size: 3.5vw;
}

.text-\[3vw\] {
  font-size: 3vw;
}

.text-\[40px\] {
  font-size: 40px;
}

.text-\[50px\] {
  font-size: 50px;
}

.text-\[5vw\] {
  font-size: 5vw;
}

.text-\[80px\] {
  font-size: 80px;
}

.text-\[8vw\] {
  font-size: 8vw;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.leading-4 {
  line-height: 1rem;
}

.leading-5 {
  line-height: 1.25rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.leading-\[14\.52px\] {
  line-height: 14.52px;
}

.leading-\[144\.64px\] {
  line-height: 144.64px;
}

.leading-\[16\.34px\] {
  line-height: 16.34px;
}

.leading-\[16\.94px\] {
  line-height: 16.94px;
}

.leading-\[38px\] {
  line-height: 38px;
}

.leading-\[50px\] {
  line-height: 50px;
}

.leading-\[58\.58px\] {
  line-height: 58.58px;
}

.leading-\[74\.58px\] {
  line-height: 74.58px;
}

.leading-\[75px\] {
  line-height: 75px;
}

.leading-\[77\.4px\] {
  line-height: 77.4px;
}

.leading-relaxed {
  line-height: 1.625;
}

.tracking-wider {
  letter-spacing: 0.05em;
}

.tracking-widest {
  letter-spacing: 0.1em;
}

.text-\[\#000000\] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-\[\#151515\] {
  --tw-text-opacity: 1;
  color: rgb(21 21 21 / var(--tw-text-opacity));
}

.text-\[\#797979\] {
  --tw-text-opacity: 1;
  color: rgb(121 121 121 / var(--tw-text-opacity));
}

.text-\[\#BFBFBF\] {
  --tw-text-opacity: 1;
  color: rgb(191 191 191 / var(--tw-text-opacity));
}

.text-\[\#FFDAD0\] {
  --tw-text-opacity: 1;
  color: rgb(255 218 208 / var(--tw-text-opacity));
}

.text-\[\#FFFFFF\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-\[white\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.opacity-\[40\%\] {
  opacity: 40%;
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

@media (min-width: 640px) {
  .sm\:w-full {
    width: 100%;
  }

  .sm\:w-screen {
    width: 100vw;
  }
}

@media (min-width: 768px) {
  .md\:ml-60 {
    margin-left: 15rem;
  }

  .md\:ml-52 {
    margin-left: 13rem;
  }
}

@media (min-width: 1024px) {
  .lg\:ml-32 {
    margin-left: 8rem;
  }

  .lg\:ml-6 {
    margin-left: 1.5rem;
  }

  .lg\:ml-2 {
    margin-left: 0.5rem;
  }

  .lg\:ml-\[-100px\] {
    margin-left: -100px;
  }

  .lg\:ml-\[-50px\] {
    margin-left: -50px;
  }

  .lg\:ml-\[-0px\] {
    margin-left: -0px;
  }

  .lg\:ml-\[-70px\] {
    margin-left: -70px;
  }

  .lg\:ml-\[-150px\] {
    margin-left: -150px;
  }

  .lg\:ml-5 {
    margin-left: 1.25rem;
  }

  .lg\:ml-4 {
    margin-left: 1rem;
  }

  .lg\:block {
    display: block;
  }

  .lg\:inline {
    display: inline;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:w-\[\] {
    width: ;
  }

  .lg\:w-\[400px\] {
    width: 400px;
  }

  .lg\:w-\[300px\] {
    width: 300px;
  }

  .lg\:w-\[330px\] {
    width: 330px;
  }

  .lg\:text-center {
    text-align: center;
  }

  .lg\:text-\[1\.5vw\] {
    font-size: 1.5vw;
  }

  .lg\:text-\[3vw\] {
    font-size: 3vw;
  }

  .lg\:text-\[40px\] {
    font-size: 40px;
  }

  .lg\:text-\[45px\] {
    font-size: 45px;
  }

  .lg\:text-\[12px\] {
    font-size: 12px;
  }

  .lg\:text-\[\] {
    color: ;
  }
}

@media (min-width: 1280px) {
  .xl\:ml-5 {
    margin-left: 1.25rem;
  }

  .xl\:ml-11 {
    margin-left: 2.75rem;
  }

  .xl\:ml-28 {
    margin-left: 7rem;
  }

  .xl\:text-\[1vw\] {
    font-size: 1vw;
  }

  .xl\:text-\[2vw\] {
    font-size: 2vw;
  }
}

@media (min-width: 1536px) {
  .\32xl\:top-\[3900px\] {
    top: 3900px;
  }

  .\32xl\:mb-8 {
    margin-bottom: 2rem;
  }

  .\32xl\:mt-5 {
    margin-top: 1.25rem;
  }

  .\32xl\:mt-\[-85px\] {
    margin-top: -85px;
  }

  .\32xl\:mt-\[100px\] {
    margin-top: 100px;
  }

  .\32xl\:mt-\[70px\] {
    margin-top: 70px;
  }

  .\32xl\:h-\[100px\] {
    height: 100px;
  }

  .\32xl\:h-\[140px\] {
    height: 140px;
  }

  .\32xl\:h-\[346px\] {
    height: 346px;
  }

  .\32xl\:h-\[500px\] {
    height: 500px;
  }

  .\32xl\:h-\[60px\] {
    height: 60px;
  }

  .\32xl\:w-\[1200px\] {
    width: 1200px;
  }

  .\32xl\:w-\[130px\] {
    width: 130px;
  }

  .\32xl\:w-\[160px\] {
    width: 160px;
  }

  .\32xl\:w-\[190px\] {
    width: 190px;
  }

  .\32xl\:w-\[220px\] {
    width: 220px;
  }

  .\32xl\:w-\[280px\] {
    width: 280px;
  }

  .\32xl\:w-\[290px\] {
    width: 290px;
  }

  .\32xl\:w-\[300px\] {
    width: 300px;
  }

  .\32xl\:w-\[330px\] {
    width: 330px;
  }

  .\32xl\:w-\[390px\] {
    width: 390px;
  }

  .\32xl\:w-\[450px\] {
    width: 450px;
  }

  .\32xl\:w-\[460px\] {
    width: 460px;
  }

  .\32xl\:w-\[480px\] {
    width: 480px;
  }

  .\32xl\:w-\[490px\] {
    width: 490px;
  }

  .\32xl\:w-\[500px\] {
    width: 500px;
  }

  .\32xl\:w-\[550px\] {
    width: 550px;
  }

  .\32xl\:w-\[80px\] {
    width: 80px;
  }

  .\32xl\:w-\[900px\] {
    width: 900px;
  }

  .\32xl\:text-\[15px\] {
    font-size: 15px;
  }

  .\32xl\:text-\[16px\] {
    font-size: 16px;
  }

  .\32xl\:text-\[17px\] {
    font-size: 17px;
  }

  .\32xl\:text-\[18px\] {
    font-size: 18px;
  }

  .\32xl\:text-\[20px\] {
    font-size: 20px;
  }

  .\32xl\:text-\[25px\] {
    font-size: 25px;
  }

  .\32xl\:text-\[60px\] {
    font-size: 60px;
  }

  .\32xl\:text-\[90px\] {
    font-size: 90px;
  }

  .\32xl\:leading-5 {
    line-height: 1.25rem;
  }

  .\32xl\:leading-9 {
    line-height: 2.25rem;
  }

  .\32xl\:leading-\[70px\] {
    line-height: 70px;
  }
}

@media (min-width: 1950px) {
  .\33xl\:ml-5 {
    margin-left: 1.25rem;
  }

  .\33xl\:ml-\[-200px\] {
    margin-left: -200px;
  }

  .\33xl\:h-\[150px\] {
    height: 150px;
  }

  .\33xl\:h-\[180px\] {
    height: 180px;
  }

  .\33xl\:w-\[130px\] {
    width: 130px;
  }

  .\33xl\:w-\[140px\] {
    width: 140px;
  }

  .\33xl\:w-\[170px\] {
    width: 170px;
  }

  .\33xl\:w-\[200px\] {
    width: 200px;
  }

  .\33xl\:w-\[330px\] {
    width: 330px;
  }

  .\33xl\:w-\[430px\] {
    width: 430px;
  }

  .\33xl\:w-\[450px\] {
    width: 450px;
  }

  .\33xl\:w-\[500px\] {
    width: 500px;
  }

  .\33xl\:w-\[570px\] {
    width: 570px;
  }

  .\33xl\:w-\[580px\] {
    width: 580px;
  }

  .\33xl\:w-\[600px\] {
    width: 600px;
  }

  .\33xl\:w-\[650px\] {
    width: 650px;
  }

  .\33xl\:w-\[850px\] {
    width: 850px;
  }

  .\33xl\:w-\[950px\] {
    width: 950px;
  }

  .\33xl\:w-\[\] {
    width: ;
  }

  .\33xl\:w-\[400px\] {
    width: 400px;
  }

  .\33xl\:text-\[100px\] {
    font-size: 100px;
  }

  .\33xl\:text-\[17px\] {
    font-size: 17px;
  }

  .\33xl\:text-\[18px\] {
    font-size: 18px;
  }

  .\33xl\:text-\[19px\] {
    font-size: 19px;
  }

  .\33xl\:text-\[20px\] {
    font-size: 20px;
  }

  .\33xl\:text-\[90px\] {
    font-size: 90px;
  }

  .\33xl\:text-\[14px\] {
    font-size: 14px;
  }

  .\33xl\:leading-6 {
    line-height: 1.5rem;
  }
}

@media (min-width: 2100px) {
  .\34xl\:top-\[\] {
    top: ;
  }

  .\34xl\:top-\[2600px\] {
    top: 2600px;
  }

  .\34xl\:top-\[2\] {
    top: 2;
  }

  .\34xl\:top-\[2850p\] {
    top: 2850p;
  }

  .\34xl\:top-\[2850px\] {
    top: 2850px;
  }

  .\34xl\:top-\[29000px\] {
    top: 29000px;
  }

  .\34xl\:top-\[2900px\] {
    top: 2900px;
  }

  .\34xl\:top-\[3200px\] {
    top: 3200px;
  }

  .\34xl\:top-\[3150px\] {
    top: 3150px;
  }

  .\34xl\:top-\[3100px\] {
    top: 3100px;
  }

  .\34xl\:top-\[3900px\] {
    top: 3900px;
  }

  .\34xl\:top-\[400px\] {
    top: 400px;
  }

  .\34xl\:top-\[4000px\] {
    top: 4000px;
  }

  .\34xl\:top-\[5200p\] {
    top: 5200p;
  }

  .\34xl\:top-\[5200px\] {
    top: 5200px;
  }

  .\34xl\:top-\[5100px\] {
    top: 5100px;
  }

  .\34xl\:top-\[5\] {
    top: 5;
  }

  .\34xl\:top-\[5500px\] {
    top: 5500px;
  }

  .\34xl\:top-\[5600px\] {
    top: 5600px;
  }

  .\34xl\:top-\[5700px\] {
    top: 5700px;
  }

  .\34xl\:top-\[5800px\] {
    top: 5800px;
  }

  .\34xl\:ml-10 {
    margin-left: 2.5rem;
  }

  .\34xl\:ml-\[-100px\] {
    margin-left: -100px;
  }

  .\34xl\:mt-4 {
    margin-top: 1rem;
  }

  .\34xl\:mt-36 {
    margin-top: 9rem;
  }

  .\34xl\:mt-80 {
    margin-top: 20rem;
  }

  .\34xl\:mt-\[\] {
    margin-top: ;
  }

  .\34xl\:mt-\[400px\] {
    margin-top: 400px;
  }

  .\34xl\:mt-\[600px\] {
    margin-top: 600px;
  }

  .\34xl\:mt-\[700px\] {
    margin-top: 700px;
  }

  .\34xl\:mt-\[650px\] {
    margin-top: 650px;
  }

  .\34xl\:h-\[500px\] {
    height: 500px;
  }

  .\34xl\:h-\[600px\] {
    height: 600px;
  }

  .\34xl\:h-\[\] {
    height: ;
  }

  .\34xl\:h-\[6\] {
    height: 6;
  }

  .\34xl\:h-\[630px\] {
    height: 630px;
  }

  .\34xl\:h-\[0px\] {
    height: 0px;
  }

  .\34xl\:h-\[700px\] {
    height: 700px;
  }

  .\34xl\:h-\[530px\] {
    height: 530px;
  }

  .\34xl\:h-\[480px\] {
    height: 480px;
  }

  .\34xl\:w-\[1400px\] {
    width: 1400px;
  }

  .\34xl\:w-\[150px\] {
    width: 150px;
  }

  .\34xl\:w-\[240px\] {
    width: 240px;
  }

  .\34xl\:w-\[430px\] {
    width: 430px;
  }

  .\34xl\:w-\[530px\] {
    width: 530px;
  }

  .\34xl\:w-\[670px\] {
    width: 670px;
  }

  .\34xl\:w-\[750px\] {
    width: 750px;
  }

  .\34xl\:w-\[950px\] {
    width: 950px;
  }

  .\34xl\:w-\[\] {
    width: ;
  }

  .\34xl\:w-\[400px\] {
    width: 400px;
  }

  .\34xl\:w-\[500px\] {
    width: 500px;
  }

  .\34xl\:w-\[00px\] {
    width: 00px;
  }

  .\34xl\:w-\[600px\] {
    width: 600px;
  }

  .\34xl\:w-\[450px\] {
    width: 450px;
  }

  .\34xl\:w-\[550px\] {
    width: 550px;
  }

  .\34xl\:text-\[20px\] {
    font-size: 20px;
  }

  .\34xl\:text-\[25px\] {
    font-size: 25px;
  }

  .\34xl\:text-\[70px\] {
    font-size: 70px;
  }

  .\34xl\:text-\[50px\] {
    font-size: 50px;
  }

  .\34xl\:text-\[16px\] {
    font-size: 16px;
  }

  .\34xl\:text-\[\] {
    color: ;
  }

  .\34xl\:text-\[1\] {
    color: 1;
  }
}

@media (min-width: 2550px) {
  .\35xl\:top-\[\] {
    top: ;
  }

  .\35xl\:top-\[2\] {
    top: 2;
  }

  .\35xl\:top-\[2700px\] {
    top: 2700px;
  }

  .\35xl\:top-\[2730px\] {
    top: 2730px;
  }

  .\35xl\:top-\[3000p\] {
    top: 3000p;
  }

  .\35xl\:top-\[3000px\] {
    top: 3000px;
  }

  .\35xl\:top-\[3200px\] {
    top: 3200px;
  }

  .\35xl\:top-\[4100px\] {
    top: 4100px;
  }

  .\35xl\:top-\[5200p\] {
    top: 5200p;
  }

  .\35xl\:top-\[5200px\] {
    top: 5200px;
  }

  .\35xl\:top-\[5700px\] {
    top: 5700px;
  }

  .\35xl\:top-\[5\] {
    top: 5;
  }

  .\35xl\:top-\[590\] {
    top: 590;
  }

  .\35xl\:top-\[5900px\] {
    top: 5900px;
  }

  .\35xl\:ml-\[-300px\] {
    margin-left: -300px;
  }

  .\35xl\:mt-\[-50px\] {
    margin-top: -50px;
  }

  .\35xl\:w-\[1100px\] {
    width: 1100px;
  }

  .\35xl\:w-\[160px\] {
    width: 160px;
  }

  .\35xl\:w-\[530px\] {
    width: 530px;
  }

  .\35xl\:w-\[630px\] {
    width: 630px;
  }

  .\35xl\:w-\[770px\] {
    width: 770px;
  }

  .\35xl\:w-\[850px\] {
    width: 850px;
  }

  .\35xl\:w-\[\] {
    width: ;
  }

  .\35xl\:w-\[600px\] {
    width: 600px;
  }

  .\35xl\:w-\[700px\] {
    width: 700px;
  }

  .\35xl\:leading-\[90px\] {
    line-height: 90px;
  }
}